<h3> All files </h3>

<div class="dropdown" style="display:inline-block;">
 <button class="dropbtn">Upload</button>
  <div class="dropdown-content">
  <a href="#">Files</a>
  <a href="#">Floader</a>


  </div>
</div>

<div class="dropdown" style="display:inline-block;">
  <button class="dropbtn">Create</button>
  <div class="dropdown-content">
  <a href="#">Folder</a>
  <a href="#">shared folder</a>
  <a href="#">Automated folder</a>
  <a href="#">Document</a>

  </div>
</div>




</br>
<h5>Suggested from your activity</h5>
<hr>