<% if current_user %>
  <div class="wrapper">
    <!--Top menu -->
    <div class="sidebar">
      <ul>
        <a href="<%= posts_path %>"> 
          <span class="icon"></i></span>
          <span class="item">Photos</span>
        </a>
      </ul>
    </div>
  </div>
<% end %>