<nav class="navbar navbar-light" style="background-color: #fff;">  
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Uploader</a>    
    <% if current_user %> 
      <ul class="navbar-nav me-auto">   
        <div class="nav-item">
          </a>
        </div>
      </ul>
      <%= button_to "log out", destroy_user_session_path, method: :delete, class: "btn btn-danger"%>
    <% end %>
  </div>
</nav>
