<h3>Share this file</h3>
<p>Anyone with this link can view</p>
<%= form_for :post, url: sharings_path, method: :post, local: true do |f| %>
  <%= f.collection_select :user_id, @posts, :id ,:first_name, {prompt: true, :selected => params[:user], label: "Users"} %><br>
  <%= f.submit "Share", class:"btn btn-sm btn-outline-primary" %>
<% end %> 

